body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

a {
  font-weight: 500;
  color: var(--color-focus-ring);
  text-decoration: inherit;
}

a:hover {
  opacity: 0.85;
}
